@model Epidemiologia.Class.GrupOcup

@{
    ViewData["Title"] = "Create";
}

<ol class="breadcrumb badge-dark">
    <table class="egt col-md-12">
        <tr>
            <td> <h1>Nuevo Grupo ocupacional</h1></td>
            <td align="right"><h1><a asp-action="Index" class="btn btn-success"><i class="fas fa-laptop-code"></i> Lista</a></h1></td>
        </tr>
    </table>
</ol>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Descripcion" class="control-label"></label>
                        <input asp-for="Descripcion" class="form-control" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="UnidLabId" class="control-label"></label>
                        <select asp-for="UnidLabId" class="form-control" asp-items="ViewBag.UnidLabId"></select>
                    </div>
                </div>                
            </div>           
            
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>