@model Epidemiologia.Class.PerSal

@{
    ViewData["Title"] = "Create";
}

<ol class="breadcrumb badge-dark">
    <table class="egt col-md-12">
        <tr>
            <td> <h1>Personal de salud que hace requerimiento</h1></td>
            <td align="right"><h1><a asp-action="Index" class="btn btn-success"><i class="fas fa-laptop-code"></i> Lista</a></h1></td>
        </tr>
    </table>
</ol>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Nombres" class="control-label"></label>
                        <input asp-for="Nombres" class="form-control" />
                        <span asp-validation-for="Nombres" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Apellidos" class="control-label"></label>
                        <input asp-for="Apellidos" class="form-control" />
                        <span asp-validation-for="Apellidos" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="TipdocId" class="control-label"></label>
                        <select asp-for="TipdocId" class="form-control" asp-items="ViewBag.TipdocId"></select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="NdocIden" class="control-label"></label>
                        <input asp-for="NdocIden" class="form-control" />
                        <span asp-validation-for="NdocIden" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Celular" class="control-label"></label>
                        <input asp-for="Celular" class="form-control" />
                        <span asp-validation-for="Celular" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="NColegio" class="control-label"></label>
                        <input asp-for="NColegio" class="form-control" />
                        <span asp-validation-for="NColegio" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="ProfesionId" class="control-label"></label>
                        <select asp-for="ProfesionId" class="form-control" asp-items="ViewBag.ProfesionId"></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="CartservId" class="control-label"></label>
                        <select asp-for="CartservId" class="form-control" asp-items="ViewBag.CartservId"></select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="DepartamentoId" class="control-label"></label>
                        <select asp-for="DepartamentoId" class="form-control" asp-items="ViewBag.DepartamentoId"></select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="ProvinciaId" class="control-label"></label>
                        <select asp-for="ProvinciaId" class="form-control" asp-items="ViewBag.ProvinciaId"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="DistritoId" class="control-label"></label>
                        <select asp-for="DistritoId" class="form-control" asp-items="ViewBag.DistritoId"></select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Direccion" class="control-label"></label>
                        <input asp-for="Direccion" class="form-control" />
                        <span asp-validation-for="Direccion" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Correo" class="control-label"></label>
                        <input asp-for="Correo" class="form-control" />
                        <span asp-validation-for="Correo" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Condicion" /> @Html.DisplayNameFor(model => model.Condicion)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>