
@{
    ViewData["Title"] = "Principal";
}
<table class="col-12">
    <tbody>
        @*<tr>
            <td align="center"><h1>Hospital Regional de Ayacucho</h1></td>
        </tr>*@
        <tr>
            <td align="center">
                <img src="~/images/logo-google.png" />
            </td>
        </tr>
    </tbody>
</table>


